/**
 * designed to emulate root-element stretching and overflow
 * prevention previously handled in kbn_chrome.less
 */
.coreSystemRootDomElement {
  overflow-x: hidden;
  min-width: 100%;
  min-height: 100%;
}

.frozenFilterTop {
  z-index: 2;
  position: fixed;
  width: 100%;
  background-color: #fafbfd;
}
